.search {
  padding: 10px 20px;
  border-radius: 4px;
  border: 1px solid #efefef;
  width: min(340px, 100%);
}

.table {
  border-collapse: collapse;
  width: 95vw;
}

.table__head {
  color: #f0f0f0;
  background-color: #343434;
}

.table__row:nth-of-type(2n) {
  background-color: #efefef;
}

.table__cell--head {
  cursor: pointer;
  transition-duration: 0.3s;
}

.table__cell--head:hover {
  background-color: #606060;
}

.table__cell--head:last-of-type {
  border-top-right-radius: 4px;
}
.table__cell--head:first-of-type {
  border-top-left-radius: 4px;
}

.table__cell {
  padding: 10px;
}

.table__column:not(:last-of-type) {
  border-right: 1px solid #78787828;
}
